# https://github.com/github/linguist/blob/master/docs/overrides.md

loadtesting/results/** linguist-documentation=true
kubernetes/*.yaml linguist-generated=true
.mvn/** linguist-generated=true
mvnw linguist-generated=true
mvnw.cmd linguist-generated=true