apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: node-exporter-claim2
  name: node-exporter-claim2
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 100Mi
  storageClassName: nfs-csi
